.bootstrap-form-with-validation {
}

.text-input {
  margin-bottom: 15px;
  width: 200px;
  text-align: left;
  border-radius: 7px;
  border-width: 2px;
  border-color: var(--bs-red);
}

.form-label {
  display: grid;
}

textarea {
  color: var(--bs-black);
}

.nom-case {
  margin-left: 10px;
}

.os-pl {
  padding-left: 15px;
}

#arrive {
  width: 200px;
  margin-bottom: 15px;
}

#non-remorquer {
  margin-bottom: 20px;
}

.bg-primary {
  background-color: #cf0000 !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #d60000;
}

.check {
  color: var(--bs-red);
  border-width: 2px;
  border-color: var(--bs-red);
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #770000;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(102,73,73,0.25);
}

.select {
  border-width: 2px;
  border-color: var(--bs-red);
  width: 200px;
}

